body {
    background: url(./images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clock {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 30px;
    font-family: Orbitron;
    letter-spacing: 7px;
}
.productsContainer .productContainer {
    display: inline-block;
    color: white;
}

.productContainer {
    margin: 20px;
}

.productPicture {
    height: 50px;
}